<div class="subtickets" ng-controller="historyController">
    <div class="message" ng-repeat="t in subtickets">
        <div class="header">
            <img src="/assets/{{userinfo._id}}.png" onerror="this.src='/assets/profile_blank_thumb.gif'" width="36" height="36" alt="">
            <span class="name">{{t.author}}</span>
            <span class="time">{{t.time}}</span>
        </div>
        <div class="mcontent">
            <pre class="markdown-body">{{t.content}}</pre>
        </div>
    </div>
</div>
<textarea name="" id="template" cols="30" rows="10" hidden>
    <div class="message">
        <div class="header">
            <img src="/assets/#{_id}.png" onerror="this.src='/assets/profile_blank_thumb.gif'"  width="36" height="36" alt="">
            <span class="name">#{author}</span>
            <span class="time">#{time}</span>
        </div>
        <div class="mcontent">
            <pre class="markdown-body">#{content}</pre>
        </div>
    </div>
</textarea>