<html ng-app="cocos" ng-cloak>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/aboutbtc.min.css">
    <link rel="stylesheet" type="text/css" href="/css/codemirror.css">
</head>
<body>
    <input type="hidden" id="token" value="#crsftoken#">
    <div class="nav" ng-controller="userinfo">
        <div class="line" id="progress" ng-progress="asd" style="width:{{start}}px"></div>
        <ng-include src="'/templates/userinfo.html'"></ng-include>
    </div>
    <div class="wrapper" style="min-height:600px;">
        <div ng-view></div>
    </div>
    <div class="footer clearfix">
        
            
    </div>
    <img src="" alt="" class="previewfile" hidden>
    <canvas id="canvas" hidden></canvas>   
    <script type="text/javascript" src="/js/angular.js"></script>
    <script type="text/javascript" src="/js/main.min.js"></script>
    <script type="text/javascript" src="/js/swiper.js"></script>
    <script type="text/javascript" src="/js/codemirror.js"></script>
    <script type="text/javascript" src="/js/editor.js"></script>
</body>
</html>