<html ng-app="cocos" ng-cloak>
<head>
    <title>Cocos 企业会员</title>
    <meta charset="utf-8">
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?2cf7b32774dd94da74f3187ac6dc1d18";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
      })();
  </script>
  <!-- <link href="http://cloud.typography.com/7482872/760906/css/fonts.css" media="screen" rel="stylesheet"> -->
  <link href="https://dbd6j53uzcole.cloudfront.net/assets/home.6c5b036b.css" media="all" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://dbd6j53uzcole.cloudfront.net/fonts/281302/60263503019D8EE8E.css"> -->
  <link rel="stylesheet" href="/css/application.css">
</head>
<body>
    <style>
        li a{
            color: #666;
        }
        .logo{
            line-height: 3.5rem;
            color: #666;
            font-family: 'Whitney SSm SC A','Whitney SSm SC B',frutiger,myriad,"Lucida Grande",sans-serif;
        }
    </style>
    <div class="enter page" id="content">
        <header id="header">
            <div class="nav-bar" id="top-bar">
                <a class="logo" href="/">Cocos企业会员</a>
                <nav>
                    <ul>
                        <li><a href="/tour"></a></li>
                        <li><a href="/features">features</a></li>
                        <li><a href="/enterprise">enterprise</a></li>
                        <li class="active"><a href="/pricing">pricing</a></li>
                        <li><a href="/docs">docs</a></li>
                    </ul>
                </nav>
                <nav class="secondary">
                    <ul>
                        <li><a href="/user/sign_in">log in</a></li>
                        <li><a class="button" href="/user/new">sign up</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-content"></div>
        </header>
        <main id="pricing">
        <section id="pricing-details">
            <header>
                <h2>14-day free trial</h2>
                <h5>no credit card required</h5></header>
            <ul id="plans">
                <li>
                    <h5 class="plan-name">startup</h5>
                    <div class="plan-cost">
                        <h1>29</h1></div>
                    <table class="plan-features">
                        <tbody>
                            <tr>
                                <td>5</td>
                                <td>Collaborators</td>
                            </tr>
                            <tr>
                                <td class="icon"></td>
                                <td>Projects</td>
                            </tr>
                        </tbody>
                    </table>
                    <h6 class="plan-data">3 months historical data</h6><a class="button" href="/user/new">sign up</a></li>
                <li class="featured">
                    <h5 class="plan-name">growth</h5>
                    <div class="plan-cost">
                        <h1>99</h1></div>
                    <table class="plan-features">
                        <tbody>
                            <tr>
                                <td>15</td>
                                <td>Collaborators</td>
                            </tr>
                            <tr>
                                <td class="icon"></td>
                                <td>Projects</td>
                            </tr>
                        </tbody>
                    </table>
                    <h6 class="plan-data">6 months historical data</h6><a class="button" href="/user/new">sign up</a></li>
                <li>
                    <h5 class="plan-name">professional</h5>
                    <div class="plan-cost">
                        <h1>249</h1></div>
                    <table class="plan-features">
                        <tbody>
                            <tr>
                                <td>30</td>
                                <td>Collaborators</td>
                            </tr>
                            <tr>
                                <td class="icon"></td>
                                <td>Projects</td>
                            </tr>
                        </tbody>
                    </table>
                    <h6 class="plan-data">6 months historical data</h6><a class="button" href="/user/new">sign up</a></li>
            </ul>
        </section>
        <aside id="bugsnag-enterprise">
            <h3>Bugsnag Enterprise is now available</h3>
            <h4>Compliance or security requirements? Looking for on-premise?<br>Learn more about <a href="/enterprise">Bugsnag Enterprise</a>. </h4></aside>
        <section id="faqs">
            <ul>
                <li>
                    <h6>How does the 14-day free trial work?</h6>
                    <p>We'll give you <em>immediate, unlimited access</em> to all Bugsnag features free for 14 days. At the end of your trial, you'll need to upgrade to a paid plan to continue using all Bugsnag features, or you'll be downgraded to a limited free plan.</p>
                </li>
                <li>
                    <h6>Is there a free plan?</h6>
                    <p>After your trial is complete you will be downgraded to a limited feature free plan. The free plan includes 2,000 errors a month with a 1 user, 1 project limit.</p>
                </li>
                <li>
                    <h6>Are there any usage or rate limits?</h6>
                    <p>In extremely rare circumstances we may apply a rate limit to your project, but we'll <em>always</em> allow new types of errors through. Mobile apps with more than 500k monthly active users should <a data-remote-modal="true" href="/contact?reason=enterprise+plans&amp;source=pricing">contact us</a> about our Enterprise plans.</p>
                </li>
                <li>
                    <h6>When does the free trial start?</h6>
                    <p>The 14-day free trial starts when you send your first error report to Bugsnag.</p>
                </li>
                <li>
                    <h6>What if I have more than 30 collaborators?</h6>
                    <p>We offer enterprise pricing for larger companies, often with a volume discount. <a data-remote-modal="true" href="/contact?reason=enterprise+plans&amp;source=pricing">Contact us</a> to find out about our enterprise plans.</p>
                </li>
                <li>
                    <h6>What happens if I upgrade during my free trial?</h6>
                    <p>You can select a plan at any time during or after your 14-day free trial. We won't charge you until the end of your trial.</p>
                </li>
                <li>
                    <h6>Can I pay yearly?</h6>
                    <p>Annual billing is available on our enterprise plans. <a data-remote-modal="true" href="/contact?reason=annual+billing&amp;source=pricing">Contact us</a> for more details.</p>
                </li>
                <li>
                    <h6>Do I have to sign a long-term contract?</h6>
                    <p>No. You'll be charged monthly and you can cancel anytime.</p>
                </li>
                <li>
                    <h6>Can I cancel any time?</h6>
                    <p>Yes. After you cancel your account you won't be charged again.</p>
                </li>
                <li>
                    <h6>What forms of payment do you accept?</h6>
                    <p>We accept all major credit and debit cards: Visa, Mastercard, American Express, JCB, Discover and Diners Club.</p>
                </li>
            </ul>
        </section>
    </main>
</div>
</body>