
<style>
    
    .intro h2{
        margin-top: 100px;
        text-align: center;
        color: #80bd01;
        font-size: 30px;
    }

    .intro .swiper-container{
        height: 400px;
        width: 100%;
        margin-top: 50px;
        border:1px solid #80bd01;
        /*box-shadow: 0 0 2px #80bd01;*/
    }
    
    .intro .swiper-container .swiper-slide{
        position: relative;
    }

    .intro .swiper-container .short{
        width: 200px;
        height: 100px;
        background: #80bd01;
        opacity: 0.8;
        position: absolute;
        left: 100px;
        top: 50px;
    }

    .intro table{
        padding: 40px;
        width: 100%;
        border:1px solid #80bd01;
        border-collapse: collapse;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .intro table td{
        border:1px solid #80bd01;
        width: 50%;
    }

    .intro .line{
        width: 200px;
        margin: 0 auto;
        border-bottom: 3px solid #80bd01;
    }

    .intro table h3{
        text-align: center;
        color: #80bd01;
        font-size: 18px;
        border-bottom: 1px solid #80bd01;
        width: 80px;
        margin: 0 auto;
        padding: 30px 0 5px;
    }

    .intro table p{
        font-size: 14px;
        margin: 20px;
        text-align: center;
        line-height: 30px;
    }

    .intro .start{
        text-align: center;
        padding: 60px;
    }

    .intro .start .btn{
        background: #80bd01;
        border: 1px solid #80bd01;
        font-size: 20px;
        margin: 0 auto;
        display: block;
        width: 160px;
    }
    .intro .shortmessage{
        font-size: 12px;
        color: #333;
        padding-bottom: 40px;
    }

    .intro .shortmessage p{
        font-size: 14px;
    }

    .intro .shortmessage span{
        float: right;
        font-size: 14px;
        font-weight: bold;
    }
    .intro .signup{
        line-height: 40px;
        padding: 30px;
        text-align: center;
        font-size: 14px;
    }

    .intro .signup .text{
        width: 200px;
        border-radius: 4px;
        margin-right: 20px;
    }

    .intro .signup .btn{
        height: 40px;
        line-height: 40px;
        background: #80bd01;
        border: 1px solid #80bd01;
        border-radius: 4px;
    }
    .page1{
        background: url(assets/slide.png) ;
        background-size: 100%;
    }
</style>

<div class="wrap intro" ng-controller="introController">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide page1">
                <div class="short"></div>
            </div>
            <div class="swiper-slide">
                
            </div>
            <div class="swiper-slide">
                
            </div>
            <div class="swiper-slide">
                
            </div>
            <div class="swiper-slide">
                
            </div>
            <div class="swiper-slide">
                
            </div>
        </div>
    </div>
    <div class="signup">
        <label for="">邮箱：</label>
        <input class="text" placeholder="邮箱" ng-model="email" type="text">
        <label for="">密码：</label>
        <input class="text" placeholder="密码" ng-model="password" type="password">
        <a href="#" class="btn" ng-click="signin()">登录</a>
    </div>
    <h2>Cocos企业会员，游戏开发团队的第一选择</h2>
    <div class="line"></div>
    <table>
        <tr>
            <td>
                <h3>迅捷</h3>
                <p>最快0-4小时内相应您的请求。<br>让您的游戏迭代更加迅速，早日上线早日盈利。</p>
            </td>
            <td>
                <h3>权威</h3>
                <p>Cocos引擎官方开发团队为您的游戏开发做技术支持。<br>没有比这更赞的了。</p>
            </td>
        </tr>
        <tr>
            <td>
                <h3>简单</h3>
                <p>只需简单两步提交问题。<br>让你从繁琐的搜索答案中解脱出来。</p>
            </td>
            <td>
                <h3>高效</h3>
                <p>Cocos引擎官方开发团队为您提供最优方案。<br>效率和速度无与伦比。</p>
            </td>
        </tr>
    </table>
    <div class="shortmessage">
        <p><i>帮助游戏企业更快上线盈利，提升行业效率，加速行业发展。</i></p>
        <span>- Jane, 触控VP</span>
    </div>
    <div class="start">
        <a href="/register" class="btn">开始</a>
    </div>
</div>















