

<style>
    .newticket.wrap{
        padding-top: 40px;
        line-height: 20px;
    }

    .newticket .title{
        padding: 10px 10px;
        border:1px solid #ccc;
        width: 700px;
        outline: none;
    }
    
    .newticket table{
        border-collapse: collapse;
        line-height: 20px;
        font-size: 12px;
    }

    .newticket table tr td{
        vertical-align: top;
        padding: 10px 5px;

    }
    
    .newticket table tr td .block.selected{
        background: #80bd01;
        color:#fff;
    }

    .newticket table tr td .block{
        padding: 10px 15px;
        border: 1px solid #80bd01;
        color: #80bd01;
    }

    .newticket .btn{
        line-height: 30px;
    }
    
    .newticket .CodeMirror{
        border:1px solid #eee;
    }

</style>
<link rel="stylesheet" href="/css/x.css">
<div class="newticket wrap" ng-controller="newticketController">
    <table>
        <tr>
            <td>标题：</td>
            <td><input type="text" class="title" ng-model="xtitle"></td>
        </tr>
        <tr>
            <td>类别：</td>
            <td>
                <a href="#" class="block {{selected.2dx}}" ng-click="select('2dx')">Cocos2d x</a>
                <a href="#" class="block {{selected.2djs}}" ng-click="select('2djs')">Cocos2d JS</a>
                <a href="#" class="block {{selected.2dlua}}" ng-click="select('2dlua')">Cocos2d lua</a>
                <a href="#" class="block {{selected.2dstudio}}" ng-click="select('2dstudio')">Cocos2d Studio</a>
                <a href="#" class="block {{selected.2dcode}}" ng-click="select('2dcode')">Cocos2d Code IDE</a>
                <a href="#" class="block {{selected.anysdk}}" ng-click="select('anysdk')">AnySDK</a>
                <a href="#" class="block {{selected.other}}" ng-click="select('other')">其他</a>
            </td>
        </tr>
        <tr>
            <td>描述：</td>
            <td>
                <textarea name=""  ng-model="code" id="code" cols="30" rows="10"></textarea>
            </td>
            
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="radio" name="ticket" id="offical"  ng-click="ticket='offical'" checked="checked" value="yes">
                <label for="offical">官方工单</label>
                <input type="radio" name="ticket" id="team" ng-click="ticket='team'" value="team">
                <label for="team">团队工单</label>
            <p>官方工单则为官方团队来响应此工单。以发起人的联系方式来沟通解决。</p></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><div class="btn" ng-click="newticket()">提交</div></td>
        </tr>
    </table>
    

</div>
