<style>
    
    .wrap.ticket{
        margin-top: 40px;
        border:1px solid #eee;
        padding: 20px 2em;
        margin-bottom: 90px;
    }



    .ticket table{
        width: 700px;
        border-collapse: collapse;
    }

    .ticket table td{
        border: 1px solid #eee;
        padding: 8px 10px;
        font-size: 12px;
    }

    .ticket table .title{
        height: 100px;
    }
    .clearfix:before, .clearfix:after {
        display: table;
        content: "";
    }
    .topic-header {
        position: relative;
        font-size: 14px;
        line-height: 21.875px;
        height: 35px;
        margin-top: 10px;
    }
    
    h2{
        font-size: 24px;
        line-height: 35px;
        font-family: "Open Sans Condensed",Helvetica,sans-serif;
        font-weight: bold;
        color: inherit;
        margin: 0;
    }

    .page-stamp-ideas{
        background-color:#888;
        position: absolute;
        width: 26px;
        left: -31px;
        padding: 4px 0 5px 2px;
        margin-top: 0;
    }

    .icon-page-ideas {
        background-position: 0 -1059px;
        height: 20px;
        width: 20px;
        display: inline-block;
        vertical-align: text-top;
        background-image: url(https://d1k77w8c6z6pel.cloudfront.net/assets/cdn-ignored/sprites/portal/icon-s201e29286e.png);
        background-repeat: no-repeat;
    }

</style>


<div class="wrap ticket" ng-controller="ticketController">
    
    <ng-include src="'./templates/fraguments/nav.html'"></ng-include>
    <section class="topic-header clearfix">
        <div class="topic-labels"></div>
        <b class="page-stamp page-stamp-ideas">
            <i class="icon-page-ideas"></i>
        </b>
        <h2 class="post-title heading">
            {{ticket.title}}
        </h2>
    </section>
    <style>

    #topic-comments{
        margin-bottom: 90px;
    }
    .user-comment {
        margin: 5px 0 20px;
    }
    .user-info {
  margin-bottom: 10px;
}

.user-info:before, .user-info:after {
  display: table;
  content: "";
}
.user-comment .user-pic-thumb {
  clear: none;
  margin: 0;
  z-index: 3;
}
.user-pic-thumb, .user-pic-normal {
  display: inline;
  float: left;
  margin-right: 10px;
  margin-left: -3px;
  border-radius: 24px;
  border: 1px solid #dddddd;
  padding: 3px;
  background-color: #fff;
  position: relative;
  line-height: 0;
}
.user-pointer-bottom:before, .user-pointer-bottom:after, .user-pointer-right:before, .user-pointer-right:after {
  content: "";
  border: 8px solid transparent;
  line-height: 0;
  height: 0;
  position: absolute;
  z-index: 1;
}
.user-pointer-bottom:after, .user-pointer-right:after {
  border-width: 7px;
  z-index: 2;
}
.user-pointer-bottom:before, .user-pointer-bottom:after {
  bottom: -12px;
  right: 14px;
  border-bottom-color: #ebebeb;
}
.user-pointer-bottom:after {
  right: 15px;
  border-bottom-color: #fafafa;
}

.user-info .user-details {
  margin-left: 55px;
  margin-top: 2px;
}

.p-info, .info-text, .list-noinfo, .description-text {
  color: #999;
  line-height: 19.88636px;
}

.user-pic-thumb img{
    border-radius: 20px;
}
.p-content {
  background-color: #fafafa;
  padding: 0.8em 1em;
  border: 1px solid #ebebeb;
}
.p-content {
  border-radius: 5px;
  position: relative;
  margin: 16px 0 10px;
  font-size: 14px;
}
.p-content textarea{
    width: 100%;
    border:1px solid #eee;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 6px;
}
.user-comment .btn{
    line-height: 30px;
    font-size: 14px;
    height:30px;
    width: 50px;
}

.p-content {
    position: relative;
}

.p-content pre{
    line-height: 20px;
}
.p-content .imagefile{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-indent: -9999px;
    opacity: 0;
}
.p-content .textx{
    line-height: 20px;
    color: #049cdb;
    cursor: pointer;
}

    </style>
    <div id="topic-comments">
        <section class="user-comment " id="post-4000366515">
            <div class="user-info">
                <div class="user-pic-thumb image-lazy-load user-pointer-bottom">
                    <img src="/assets/profile_blank_thumb.gif" onerror="imgerror(this)" width="40px" height="40px">
                </div>              
                <div class="user-details">
                    <h4 class="user-name">{{ticket.author}}</h4>
                    <div class="p-info">
                        发布于：{{ticket.time}}
                    </div>
                </div>
            </div>
            <div class="p-content" id="post-4000366515-description">
                <pre id="vote-toolbar">{{ticket.content}}</pre>
            </div>
        </section>
        <section class="user-comment" ng-repeat="(i, t) in subtickets">
            <div class="user-info">
                <div class="user-pic-thumb image-lazy-load user-pointer-bottom">
                    <img src="/assets/profile_blank_thumb.gif" onerror="imgerror(this)" width="40px" height="40px">
                </div>              
                <div class="user-details">
                    <h4 class="user-name">{{t.author}}</h4>
                    <div class="p-info">
                        发布于：{{t.time}}
                    </div>
                </div>
            </div>
            <div class="p-content" id="post-4000366515-description">
                <pre id="vote-toolbar">{{t.content}}</pre>
                <img src="/upload/{{t.image}}" alt="">
            </div>
        </section>

        <section class="user-comment " id="post-4000366515">
            <div class="user-info">
                <div class="user-pic-thumb image-lazy-load user-pointer-bottom">
                    <img src="/assets/profile_blank_thumb.gif" onerror="imgerror(this)" width="40px" height="40px">
                </div>              
                <div class="user-details">
                    <h4 class="user-name">{{user.name}}</h4>
                    <div class="p-info">
                        {{user.company}}
                    </div>
                </div>
            </div>
            <div class="p-content" id="post-4000366515-description">
                <textarea name="" ng-model="textarea" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="p-content">
                <span class="textx">{{tips}}</span>
                <input type="file" class="imagefile" >
            </div>

            <div class="btn" ng-click="submitticket()">提交</div>
        </section>
    </div>

    <!-- <div class="content">
        <table>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td class="title"></td>
                <td></td>
            </tr>
        </table>
        
    </div> -->





</div>