<div class="wrap">
    <a href="{{home}}" class="logo">Cocos企业会员</a>
    <a href="/allticket" ng-show="sign_status=='yes'" class="menu allticket">工单列表</a>
    <a href="/team" ng-show="sign_status=='yes'" class="menu team">团队成员</a>
<div class="login" ng-show="userinfo.sign_status=='no'">
    <a href="http://passport.cocoachina.com/sso/signin?client_id=19&url=http://cvp.cocoachina.com/">登录</a>
    <a href="http://passport.cocoachina.com/sso/signup?client_id=19&url=http://cvp.cocoachina.com/">注册</a>
</div>
<div class="userinfo hidden" ng-show="userinfo.sign_status!='no'" >
    <a href="/profile" ng-mouseenter="usershow=true">{{userinfo.name}}</a> 
    <ul ng-show="usershow" ng-mouseleave="usershow=false">
        <li><a href="/home">{{userinfo.name}}</a> </li>
        <li>
            <a href="#" ng-click="logout()">退出</a>
        </li>
    </ul>
</div>
</div>

